<div class="container">

    <h4><%= @evaluation.lecture.name %>&nbsp;&nbsp;評価の編集</h4>
    <div class="list-item-group">

    <div class="row">
        <%= form_for @evaluation do |f| %>
                <h5>総合評価</h5>
                <div class="post_form">
                    <%= f.radio_button :overall, 5 ,id: 'star1'%>
                    <label for="star1"><span class="text">最高</span>★</label>

                    <%= f.radio_button :overall, 4 ,id: 'star2'%>
                    <label for="star2"><span class="text">良い</span>★</label>

                    <%= f.radio_button :overall, 3 ,id: 'star3'%>
                    <label for="star3"><span class="text">普通</span>★</label>

                    <%= f.radio_button :overall, 2 ,id: 'star4'%>
                    <label for="star4"><span class="text">悪い</span>★</label>

                    <%= f.radio_button :overall, 1 ,id: 'star5'%>
                    <label for="star5"><span class="text">最悪</span>★</label>
                </div>

                <h5>わかりやすさ</h5>
                <div class="post_form">
                    <%= f.radio_button :understandability,  5 ,id: 'star6'%>
                    <label for="star6"><span class="text">最高</span>★</label>

                    <%= f.radio_button :understandability,  4 ,id: 'star7'%>
                    <label for="star7"><span class="text">良い</span>★</label>

                    <%= f.radio_button :understandability, 3 ,id: 'star8'%>
                    <label for="star8"><span class="text">普通</span>★</label>

                    <%= f.radio_button :understandability , 2 ,id: 'star9'%>
                    <label for="star9"><span class="text">酷い</span>★</label>

                    <%= f.radio_button :understandability , 1 ,id: 'star10'%>
                    <label for="star10"><span class="text">マジでクソ</span>★</label>
                </div>

                <h5>将来的有用性</h5>
                <div class="post_form">
                    <%= f.radio_button :usefulness,  5 ,id: 'star11'%>
                    <label for="star11"><span class="text">非常に高い</span>★</label>

                    <%= f.radio_button :usefulness,  4 ,id: 'star12'%>
                    <label for="star12"><span class="text">高い</span>★</label>

                    <%= f.radio_button :usefulness, 3 ,id: 'star13'%>
                    <label for="star13"><span class="text">普通</span>★</label>

                    <%= f.radio_button :usefulness, 2 ,id: 'star14'%>
                    <label for="star14"><span class="text">低い</span>★</label>

                    <%= f.radio_button :usefulness, 1 ,id: 'star15'%>
                    <label for="star15"><span class="text">非常に低い</span>★</label>
                </div>

                <h5>楽単具合</h5>
                <div class="post_form">
                    <%= f.radio_button :easy,  5 ,id: 'star16'%>
                    <label for="star16"><span class="text">超楽単</span>★</label>

                    <%= f.radio_button :easy,  4 ,id: 'star17'%>
                    <label for="star17"><span class="text">楽単</span>★</label>

                    <%= f.radio_button :easy, 3 ,id: 'star18'%>
                    <label for="star18"><span class="text">普通</span>★</label>

                    <%= f.radio_button :easy , 2 ,id: 'star19'%>
                    <label for="star19"><span class="text">難しい</span>★</label>

                    <%= f.radio_button :easy , 1 ,id: 'star20'%>
                    <label for="star20"><span class="text">超難しい</span>★</label>
                </div>

                <h5>課題・レポートの量</h5>
                <div class="post_form">
                    <%= f.radio_button :assignment,  5 ,id: 'star21'%>
                    <label for="star21"><span class="text">最高</span>★</label>

                    <%= f.radio_button :assignment,  4 ,id: 'star22'%>
                    <label for="star22"><span class="text">良い</span>★</label>

                    <%= f.radio_button :assignment, 3 ,id: 'sta23'%>
                    <label for="star23"><span class="text">普通</span>★</label>

                    <%= f.radio_button :assignment, 2 ,id: 'star24'%>
                    <label for="star24"><span class="text">多い</span>★</label>

                    <%= f.radio_button :assignment, 1 ,id: 'star25'%>
                    <label for="star25"><span class="text">非常に多い</span>★</label>
                </div>

            </div>
            <%= f.submit "編集" ,class: "btn btn-outline-primary" %><br />
        <% end %>
    <%= link_to "評価一覧に戻る", evaluations_index_path(@evaluation.lecture_id), class: "detail-li" %>

    </div>

</div>