question/index.html.erb
<h2>質問ランキング</h2>

<% i=1 %>

<div class="question-ranking">
    <% @questions.each do |question| %>
        <div class="question">
            <%#= ランキングの数字  %>
            <%= i %>
            
            <%= image_tag question.user.image_url,class:"rounded-circle", size: "40x40" if question.user.image? %> <%# アイコン表示 %>
            <%= question.user.name %><br />

            <div id="solve_buttons_<%= question.id %>">
                <%= render partial: 'questions/make_solved', locals: {question: question} %>
            </div>

            <%= question.body %>
            <%= image_tag question.image_url, size: "250x200" if question.image? %><br />
            
            <div id="likes_buttons_<%= question.id %>">
            <%= render partial: 'likes/like', locals: {question: question} %>
            </div>
            
            <%= link_to "詳細へ", question_path(question.id) %>
            <% if user_signed_in? && current_user.id == question.user_id %>
            <% end %>
            <br />
            <%= question.created_at.to_s(:datetime_jp) %>
            <%#= ランキングの数字、質問が変わる度に＋1 %>
            <% i+=1 %>
        </div>
    <% end %>
    </ol>
</div>