<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<div id="solve_buttons_<%= @question.id %>">
  <%= render partial: 'questions/make_solved', locals: {question: @question} %>
</div>

<h3>質問の詳細</h3>
<div class="question">
  <%= image_tag @question.image_url, size: "250x200" if @question.image? %>
  <p><%= @question.body %></p>
  <%= link_to "編集する", edit_question_path(@question.id) if current_user.id == @question.user_id %><br />
  <div id="likes_buttons_<%= @question.id %>">
    <%= render partial: 'likes/like', locals: {question: @question} %>
  </div>
  <p><%= @question.updated_at.to_s(:datetime_jp) %></p>
</div>

<div class="answer-wrapper">
  <p>回答一覧</p>
  <% @answers.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.body %>
      <%= link_to "削除する", question_answers_path(@question.id), method: :delete if current_user.id == c.user_id %>
      <%= c.created_at.to_s(:datetime_jp) %>
    </div>
      <br>
  <% end %>
</div>

<div class="answer-form">
  <% if user_signed_in? && @question.solved == false %>
  <p>回答の投稿</p>
    <%= form_with(model: [@question,@answer], local: true) do |f| %>
      <%= f.text_area :body %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> 回答する
      <% end %>
    <% end %>
  <% end %>
</div>



<h2>いいねしたユーザー</h2>
<% @question.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>


<%= link_to "一覧に戻る", top_index_path %>