<div class="lec-show container">
  <div class="row">
    <div class="col-md-6">
      <h1>質問の詳細</h1>
        <div id="solve_buttons_<%= @question.id %>">
          <%= render partial: 'questions/make_solved', locals: {question: @question} %>
        </div>
      <div class="question-detail">
        <p><%= safe_join(@question.body.split("\n"),tag(:br)) %></p>
        <%= image_tag @question.image_url, size: "250x200" if @question.image? %>
        <% if user_signed_in? && current_user.id == @question.user_id %>
          <div id="likes_buttons_<%= @question.id %>">
            <%= render partial: 'likes/like', locals: {question: @question} %>
          </div>
          <%= link_to edit_question_path(@question.id), class: "detail-li" do %>
            <i class="fas fa-pen">編集</i>
          <% end %>
        <% end %>
        <p><%= @question.updated_at.to_s(:datetime_jp) %></p>
      </div>
    </div>


    <div class="col-md-6">
      <h1>回答一覧</h1>
      <div class="answers-wrapper">
        <% @answers.each do |answer| %>
          <div class="answer">
            <%= image_tag answer.user.image_url,class:"rounded-circle", size: "40x40" if answer.user.image? %> 
            <%= link_to "#{answer.user.name}", user_path(answer.user.id), class: "user-li" %><br>
            <%= safe_join(answer.body.split("\n"),tag(:br)) %><br />
            <% if user_signed_in? && current_user.id == answer.user_id  %>
              <%= link_to question_answer_path(answer.question.id,answer.id), method: :delete, class: "detail-li" do %>
                <i class="fas fa-trash-alt">削除</i><br />
              <% end %>
            <% end %>
            <%= answer.created_at.to_s(:datetime_jp) %><br>
          </div>
        <% end %>
      </div>

      <div class="answer-form">
        <% if user_signed_in? && @question.solved == false %>
          <h3>回答の投稿</h3>
          <%= form_with(model: [@question,@answer], local: true) do |f| %>
            <%= f.text_area :body, class: "form-control", id: "exampleFormControlTextarea1", row: "3"%>
            <%= button_tag type: "submit" do %>
              <i class="far fa-comments"></i> 回答する
            <% end %>
          <% end %>
        <% end %>
      </div>

    <div class="liked-box">
      <h3>いいねしたユーザー</h3>
        <% @question.liked_users.each do |user| %>
          <%= image_tag user.image_url,class:"rounded-circle", size: "40x40" if user.image? %>
          <%= link_to "#{user.name}", user_path(user.id), class: "user-li" %><br />
        <% end %>
      </div>
        <%= link_to "質問一覧に戻る", top_index_path, class: "detail-li" %>
    </div>


      </div>
    </div>

  </div>





</div>