<h1>Lectures#index</h1>
<p>Find me in app/views/lectures/index.html.erb</p>
<p>講義一覧ページ</p>
<p>科目名：担当教員名</p>
<% @lectures.each do |t| %>
    <%= t.name %>：
    <%= t.teacher %>
    <%= link_to "詳細へ", lecture_path(t.id) %>
    <br />
    <% if user_signed_in? %>

        <% if current_user.already_current_registered?(t) %>
            <%= link_to lecture_current_lectures_path(t), method: :delete do %>
            現在の講義を取り消す
            <% end %>
        <% else %>

            <% if current_user.already_past_registered?(t) %>
                <%= link_to lecture_past_lectures_path(t), method: :delete do %>
                過去の講義を取り消す
                <% end %>
            <% else %>
                <%= link_to lecture_current_lectures_path(t), method: :post do %>
                    現在の講義に登録
                <% end %>
                <%= link_to lecture_past_lectures_path(t), method: :post do %>
                    過去の講義に登録
                <% end %>
            <% end %>

        <% end %>



    <% end %>
    <br />

<% end %>
