<h1>Lectures#show</h1>
<p>Find me in app/views/lectures/show.html.erb</p>
<h3>講義詳細ページ</h3>

<div class="lecture">
  <p><%= @lecture.name %></p>
  <p><%= @lecture.teacher %></p>
</div>


<div class="pdf-wrapper">
  <h3>過去問PDF</h3>
  <object data="<%= @lecture.pdf.url %>" type="application/pdf"></object>
  <%= form_with(model: [@lecture], local: true) do |f| %>
    <%= f.label :pdf %>
    <%= f.file_field :pdf %>
    <%= button_tag type: "submit" do %>
      送信する
    <% end %>
  <% end %>
</div>

<div class="comment-wrapper">
  <h3>コメント一覧</h3>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.body %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@lecture, @comment], local: true) do |f| %>
      <%= f.text_area :body %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "評価の詳細", evaluations_show_path(@lecture.id) %><br />
<%= link_to "講義一覧に戻る", lectures_path %>