<div class="title container">
  <h2>講義詳細ページ</h2>
  <h3><%= @lecture.name %>
  <%= @lecture.teacher %>
  <%= @lecture.grade %>年次
  <%= @lecture.term %></h3>
</div><br />

<div class="lec-show container">

  <div class="row">


  </div>


    <div class="register_<%= @lecture %>">
      <%= render partial: 'lectures/register', locals: {l: @lecture} %>
    </div>
  
  <%= link_to "評価", evaluations_index_path(@lecture.id), class: "detail-li" %><br />

  <div class="pdf-wrapper">
    <h3>過去問PDF</h3>
    <%= link_to "#{@lecture.pdf_url.split('/').last.split('.').first}", @lecture.pdf_url(format: :pdf), class: "detail-li" unless @lecture.pdf.blank? %>

    <%= form_with(model: [@lecture], local: true) do |f| %>
      <%= f.label :pdf %>
      <%= f.file_field :pdf %><br />
      <%= button_tag type: "submit" do %>
        送信する
      <% end %>
    <% end %>
  </div>

  <div class="comment-wrapper">
    <h3>コメント一覧</h3>
    <div class="comments">
      <% @comments.each do |c| %>
        <div class="comment-box">
          <%= c.user.name unless c.user.blank? %>
          <br>
          <%= c.body %>
          <%= link_to lecture_comment_path(@lecture.id,c.id), method: :delete, class: "detail-li" do %>
            <i class="fas fa-trash-alt">削除</i><br />
          <% end %><br />
          <%= c.created_at.to_s(:datetime_jp) %><br />
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= form_with(model: [@lecture, @comment], local: true) do |f| %>
        <%= f.text_area :body %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= link_to "講義一覧に戻る", lectures_path, class: "detail-li" %>
</div>